@font-face {
  font-family: "Didot";
  src: url("~@/assets/fonts/DidotMedium.ttf") format("truetype");
  font-style: medium;
  font-weight: medium;
}

@font-face {
  font-family: "Didot";
  src: url("~@/assets/fonts/DidotRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Lulo Clean W01 One";
  src: url("~@/assets/fonts/Lulo-Clean-W01-One-Bold.ttf") format("truetype");
  font-style: bold;
  font-weight: bold;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("~@/assets/fonts/RobotoMono-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("~@/assets/fonts/RobotoMono-Medium.ttf") format("truetype");
  font-style: medium;
  font-weight: medium;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("~@/assets/fonts/RobotoMono-Bold.ttf") format("truetype");
  font-style: bold;
  font-weight: bold;
}
